--- 
http_interactions: 
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=delsubdomain&cpanel_jsonapi_module=SubDomain&cpanel_jsonapi_user=lumberg&domain=sub.lumberg-test.com
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/plain; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"module":"SubDomain","func":"delsubdomain","apiversion":2,"preevent":{"result":1},"event":{"result":1},"data":[{"result":1,"reason":"Deleted domain: sub.lumberg-test.com\nThe zone file for 'lumberg-test.com' has been edited and your new data has been added to it.\r\nsaved lumberg-test.com\nThe subdomain, sub.lumberg-test.com has been removed."}],"postevent":{"result":1}}}

  recorded_at: Fri, 03 May 2013 13:47:26 GMT
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=addsubdomain&cpanel_jsonapi_module=SubDomain&cpanel_jsonapi_user=lumberg&domain=sub&rootdomain=lumberg-test.com
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/plain; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"data":[{"result":1,"reason":"The zone file for 'lumberg-test.com' has been edited and your new data has been added to it.\r\nsaved lumberg-test.com\nThe subdomain, sub.lumberg-test.com has been added."}],"module":"SubDomain","preevent":{"result":1},"event":{"result":1},"func":"addsubdomain","postevent":{"result":1},"apiversion":2}}

  recorded_at: Fri, 03 May 2013 13:47:32 GMT
recorded_with: VCR 2.0.1
