--- 
http_interactions: 
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=listsubdomains&cpanel_jsonapi_module=SubDomain&cpanel_jsonapi_user=lumberg
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/plain; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"postevent":{"result":1},"apiversion":2,"preevent":{"result":1},"func":"listsubdomains","module":"SubDomain","data":[{"dir":"/home/lumberg/public_html/sub","reldir":"home:public_html/sub","domainkey":"sub_lumberg-test.com","subdomain":"sub","domain":"sub.lumberg-test.com","status":"not redirected","rootdomain":"lumberg-test.com","basedir":"public_html/sub"}],"event":{"result":1}}}

  recorded_at: Fri, 03 May 2013 13:47:17 GMT
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=listsubdomains&cpanel_jsonapi_module=SubDomain&cpanel_jsonapi_user=minimal
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/plain; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"func":"listsubdomains","preevent":{"result":1},"module":"SubDomain","event":{"result":1},"postevent":{"result":1},"apiversion":2,"data":[]}}

  recorded_at: Fri, 03 May 2013 13:47:18 GMT
recorded_with: VCR 2.0.1
