---
http_interactions:
- request:
    method: get
    uri: https://myhost.com:2087/json-api/resellerstats?reseller=bob
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - WHM root:iscool
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: ! '{"result":{"diskquota":0,"totalbwalloc":null,"totalbwused":null,"diskoverselling":1,"statusmsg":"Fetched
        Reseller Data OK","bwoverselling":0,"accts":[],"status":1,"reseller":"bob","totaldiskalloc":null,"bandwidthlimit":0,"diskused":null}}'
  recorded_at: Wed, 07 Mar 2012 21:53:52 GMT
- request:
    method: get
    uri: https://myhost.com:2087/json-api/resellerstats?reseller=notexists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - WHM root:iscool
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: ! '{"result":{"reseller":"notexists","status":0,"statusmsg":"Reseller
        Does Not Exist"}}'
  recorded_at: Wed, 07 Mar 2012 21:53:52 GMT
recorded_with: VCR 2.0.0
...
