---
http_interactions:
- request:
    method: get
    uri: https://myhost.com:2087/json-api/unsuspendreseller?user=bob
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - WHM root:iscool
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: ! '{"result":[{"status":1,"statusmsg":"Finished unsuspending reseller."}],"output":"Changing
        shell for bob.\nShell changed.\nUnlocking password for user bob.\npasswd:
        Success.\nFound /etc/proftpd/bob with contents. It will be archived as ''/etc/proftpd/bob.unsuspend_failed''
        and replaced with the previously suspended version.\nUnsuspending FTP accounts...\nUpdating
        ftp passwords for bob\nFtp password files updated.\nFtp vhost passwords synced\nbob''s
        account is now active\nUnsuspending mysql users\nNotification => notify@example.com
        via EMAIL [level => 3]\n"}'
  recorded_at: Wed, 07 Mar 2012 21:53:52 GMT
- request:
    method: get
    uri: https://myhost.com:2087/json-api/unsuspendreseller?user=notexists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - WHM root:iscool
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: ! '{"result":[{"status":0,"statusmsg":"Specified user is not a reseller."}]}'
  recorded_at: Wed, 07 Mar 2012 21:53:52 GMT
recorded_with: VCR 2.0.0
...
