---
http_interactions:
- request:
    method: get
    uri: https://myhost.com:2087/json-api/pause_transfer_session?api.version=1&transfer_session_id=x
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - WHM root:iscool
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Keep-Alive-Count:
      - '1'
      Content-Type:
      - text/plain; charset="utf-8"
    body:
      encoding: UTF-8
      string: '{"metadata":{"command":"pause_transfer_session","result":"1","version":1,"reason":"OK"}}'
  recorded_at: Wed, 07 Jan 2015 13:36:27 GMT
recorded_with: VCR 2.9.2
