---
http_interactions:
- request:
    method: get
    uri: https://myhost.com:2087/json-api/start_transfer_session?api.version=1&transfer_session_id=x
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - WHM root:iscool
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Keep-Alive-Count:
      - '1'
      Content-Type:
      - text/plain; charset="utf-8"
    body:
      encoding: UTF-8
      string: '{"data":{"pid":30831},"metadata":{"reason":"OK","result":"1","version":1,"command":"start_transfer_session"}}'
  recorded_at: Tue, 06 Jan 2015 19:36:46 GMT
recorded_with: VCR 2.9.2
