---
http_interactions:
- request:
    method: get
    uri: https://myhost.com:2087/json-api/get_transfer_session_state?api.version=1&transfer_session_id=x
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - WHM root:iscool
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Keep-Alive-Count:
      - '1'
      Content-Type:
      - text/plain; charset="utf-8"
    body:
      encoding: UTF-8
      string: '{"data":{"state_name":"COMPLETED"},"metadata":{"reason":"OK","version":1,"result":"1","command":"get_transfer_session_state"}}'
  recorded_at: Wed, 07 Jan 2015 13:13:35 GMT
recorded_with: VCR 2.9.2
