---
http_interactions:
- request:
    method: get
    uri: https://myhost.com:2087/json-api/validate_system_user?api.version=1&user=another
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - WHM root:iscool
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Keep-Alive-Count:
      - '1'
      Content-Type:
      - text/plain; charset="utf-8"
    body:
      encoding: UTF-8
      string: '{"data":{"reserved":0,"valid_for_transfer":1,"exists":0,"valid_for_new":1},"metadata":{"version":1,"result":"1","command":"validate_system_user","reason":"OK"}}'
  recorded_at: Tue, 06 Jan 2015 16:05:59 GMT
recorded_with: VCR 2.9.2
