---
http_interactions:
- request:
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?checkleaf&cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=listfiles&cpanel_jsonapi_module=Fileman&cpanel_jsonapi_user=lumberg&dir&filelist&filepath&needmime&showdotfiles
    body:
      string: ""
    headers:
      Authorization:
      - WHM root:iscool
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Keep-Alive-Count:
      - "1"
      Content-Type:
      - application/json; charset="utf-8"
    body:
      string: "{\"cpanelresult\":{\"module\":\"Fileman\",\"event\":{\"result\":1},\"apiversion\":2,\"data\":[{\"mode\":16872,\"uid\":\"\",\"fullpath\":\"/home/lumberg/access-logs\",\"path\":\"/home/lumberg\",\"absdir\":\"/home/lumberg\",\"ctime\":\"1368589502\",\"gid\":520,\"file\":\"access-logs\",\"type\":\"dir\",\"humansize\":\"4\xC2\xA0KB\",\"mtime\":\"1367898732\",\"nicemode\":\"0750\",\"size\":\"4096\"},{\"mode\":16872,\"uid\":522,\"fullpath\":\"/home/lumberg/etc\",\"path\":\"/home/lumberg\",\"absdir\":\"/home/lumberg\",\"ctime\":\"1368078989\",\"gid\":12,\"file\":\"etc\",\"type\":\"dir\",\"humansize\":\"4\xC2\xA0KB\",\"mtime\":\"1368078989\",\"nicemode\":\"0750\",\"size\":\"4096\"},{\"mode\":16873,\"uid\":522,\"fullpath\":\"/home/lumberg/mail\",\"path\":\"/home/lumberg\",\"absdir\":\"/home/lumberg\",\"ctime\":\"1368587735\",\"gid\":520,\"file\":\"mail\",\"type\":\"dir\",\"humansize\"[...]
