--- 
recorded_with: VCR 2.0.1
http_interactions: 
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=fileop&cpanel_jsonapi_module=Fileman&cpanel_jsonapi_user=lumberg&destfiles=.someotherfile&doubledecode&op=copy&sourcefiles=.shouldneverexist
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"data":[{"result":0,"dest":"/home/lumberg/.someotherfile","src":"/home/lumberg/.shouldneverexist","err":"No such file or directory"}],"func":"fileop","module":"Fileman","event":{"result":1},"apiversion":2,"error":"No such file or directory"}}

  recorded_at: Wed, 12 Jun 2013 13:16:39 GMT
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=fileop&cpanel_jsonapi_module=Fileman&cpanel_jsonapi_user=lumberg&destfiles=sample-last-login.txt&doubledecode&op=copy&sourcefiles=.lastlogin
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"event":{"result":1},"module":"Fileman","apiversion":2,"func":"fileop","data":[{"dest":"/home/lumberg/sample-last-login.txt","src":"/home/lumberg/.lastlogin","result":1}]}}

  recorded_at: Wed, 12 Jun 2013 13:16:40 GMT
