---
http_interactions:
- request:
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=viewfile&cpanel_jsonapi_module=Fileman&cpanel_jsonapi_user=lumberg&dir=&file=.lastlogin
    body:
      string: ""
    headers:
      Authorization:
      - WHM root:iscool
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Keep-Alive-Count:
      - "1"
      Content-Type:
      - application/json; charset="utf-8"
    body:
      string: |
        {"cpanelresult":{"func":"viewfile","apiversion":2,"data":[{"formatting_after":"</pre></div>","file":".lastlogin","dir":"/home/lumberg","mimename":"text-x-generic","contents":"192.168.25.11","formatting_before":"<div id=\"file_viewer\" style=\"border: 2px solid #ccc; background: #fff;\"><pre>","fileinfo":" ASCII text, with no line terminators\n","mimetype":"text/x-generic","filetype":"file"}],"module":"Fileman","event":{"result":1}}}

  recorded_at: Wed, 15 May 2013 04:17:59 GMT
recorded_with: VCR 2.0.1
