---
http_interactions:
- request:
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=statfiles&cpanel_jsonapi_module=Fileman&cpanel_jsonapi_user=lumberg&dir&file=.lastlogin
    body:
      string: ""
    headers:
      Authorization:
      - WHM root:iscool
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Keep-Alive-Count:
      - "1"
      Content-Type:
      - application/json; charset="utf-8"
    body:
      string: "{\"cpanelresult\":{\"func\":\"statfiles\",\"module\":\"Fileman\",\"apiversion\":2,\"data\":[{\"user\":\"lumberg\",\"group\":\"lumberg\",\"mimeinfo\":\"homeb\",\"type\":\"dir\",\"ctime\":\"1368587735\",\"size\":4096,\"path\":\"/home\",\"gid\":520,\"file\":\"lumberg\",\"nicemode\":\"0711\",\"mtime\":\"1368587735\",\"mode\":16841,\"humansize\":\"4\xC2\xA0KB\",\"uid\":\"522\"}],\"event\":{\"result\":1}}}\n"
  recorded_at: Wed, 15 May 2013 04:18:00 GMT
recorded_with: VCR 2.0.1
