--- 
http_interactions: 
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?command=whatev&cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=add_line&cpanel_jsonapi_module=Cron&cpanel_jsonapi_user=lumberg&day=1&hour=1&minute=1&month=1&weekday=1
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/plain; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"data":[{"linekey":"09f7366534c5dc41b4196634bbb245d1","statusmsg":"This cron job already exists.","status":0}],"event":{"result":1},"func":"add_line","module":"Cron","apiversion":2,"preevent":{"result":1},"postevent":{"result":1}}}

  recorded_at: Fri, 03 May 2013 13:48:06 GMT
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?command=taco&cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=edit_line&cpanel_jsonapi_module=Cron&cpanel_jsonapi_user=lumberg&day=1&hour=3&linekey=09f7366534c5dc41b4196634bbb245d1&minute=1&month=1&weekday=1
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/plain; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"data":[{"linekey":"01ef1ea05ac43132ded896cad80c8b08","status":0,"statusmsg":"This cron job already exists."}],"event":{"result":1},"apiversion":2,"func":"edit_line","preevent":{"result":1},"postevent":{"result":1},"module":"Cron"}}

  recorded_at: Fri, 03 May 2013 13:48:06 GMT
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=listcron&cpanel_jsonapi_module=Cron&cpanel_jsonapi_user=lumberg
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/plain; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"preevent":{"result":1},"apiversion":2,"event":{"result":1},"module":"Cron","data":[{"linekey":"142f5e82e28e40783de383eb93c570f3","minute":"1","weekday":"1","month":"1","command_htmlsafe":"hi","command":"hi","count":1,"hour":"1","day":"1"},{"linekey":"e1ce16ad6557f5b22f31ada1371d8f77","minute":"1","weekday":"1","month":"1","command_htmlsafe":"foo","command":"foo","count":2,"hour":"1","day":"1"},{"linekey":"01ef1ea05ac43132ded896cad80c8b08","minute":"1","weekday":"1","month":"1","command_htmlsafe":"taco","command":"taco","count":3,"hour":"3","day":"1"},{"linekey":"09f7366534c5dc41b4196634bbb245d1","minute":"1","weekday":"1","month":"1","command_htmlsafe":"whatev","command":"whatev","count":4,"hour":"1","day":"1"},{"count":5}],"func":"listcron","postevent":{"result":1}}}

  recorded_at: Fri, 03 May 2013 13:48:07 GMT
recorded_with: VCR 2.0.1
