--- 
http_interactions: 
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=set_email&cpanel_jsonapi_module=Cron&cpanel_jsonapi_user=lumberg&email=sauron@mordor.com
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/plain; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"postevent":{"result":1},"data":[{"statusmsg":"crontab installed","email":"sauron@mordor.com","status":1}],"event":{"result":1},"apiversion":2,"preevent":{"result":1},"module":"Cron","func":"set_email"}}

  recorded_at: Fri, 03 May 2013 13:47:56 GMT
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=get_email&cpanel_jsonapi_module=Cron&cpanel_jsonapi_user=lumberg
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/plain; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"postevent":{"result":1},"event":{"result":1},"func":"get_email","module":"Cron","data":[{"email":"sauron@mordor.com"}],"preevent":{"result":1},"apiversion":2}}

  recorded_at: Fri, 03 May 2013 13:47:57 GMT
recorded_with: VCR 2.0.1
