--- 
http_interactions: 
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?command=baz&cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=add_line&cpanel_jsonapi_module=Cron&cpanel_jsonapi_user=lumberg&day=1&hour=1&minute=1&month=1&weekday=1
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/plain; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"preevent":{"result":1},"postevent":{"result":1},"func":"add_line","apiversion":2,"event":{"result":1},"data":[{"linekey":"ee256b7c549d7c00f86fdb5f36e12959","status":1,"statusmsg":"crontab installed"}],"module":"Cron"}}

  recorded_at: Fri, 03 May 2013 13:47:59 GMT
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=listcron&cpanel_jsonapi_module=Cron&cpanel_jsonapi_user=lumberg
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/plain; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"preevent":{"result":1},"event":{"result":1},"data":[{"month":"1","day":"1","command_htmlsafe":"hi","minute":"1","hour":"1","linekey":"142f5e82e28e40783de383eb93c570f3","count":1,"weekday":"1","command":"hi"},{"month":"1","day":"1","command_htmlsafe":"foo","minute":"1","hour":"1","linekey":"e1ce16ad6557f5b22f31ada1371d8f77","count":2,"weekday":"1","command":"foo"},{"month":"1","day":"1","command_htmlsafe":"taco","minute":"1","hour":"3","linekey":"01ef1ea05ac43132ded896cad80c8b08","count":3,"weekday":"1","command":"taco"},{"month":"1","day":"1","command_htmlsafe":"whatev","minute":"1","hour":"1","linekey":"09f7366534c5dc41b4196634bbb245d1","count":4,"weekday":"1","command":"whatev"},{"month":"1","day":"1","command_htmlsafe":"baz","minute":"1","hour":"1","linekey":"ee256b7c549d7c00f86fdb5f36e12959","count":5,"weekday":"1","command":"baz"},{"count":6}],"module":"Cron","postevent":{"result":1},"apiversion":2,"func":"listcron"}}

  recorded_at: Fri, 03 May 2013 13:47:59 GMT
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=remove_line&cpanel_jsonapi_module=Cron&cpanel_jsonapi_user=lumberg&linekey=ee256b7c549d7c00f86fdb5f36e12959
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/plain; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"event":{"result":1},"module":"Cron","apiversion":2,"data":[{"statusmsg":"crontab installed","status":1}],"postevent":{"result":1},"preevent":{"result":1},"func":"remove_line"}}

  recorded_at: Fri, 03 May 2013 13:48:05 GMT
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=listcron&cpanel_jsonapi_module=Cron&cpanel_jsonapi_user=lumberg
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/plain; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"func":"listcron","module":"Cron","apiversion":2,"data":[{"command_htmlsafe":"hi","weekday":"1","month":"1","day":"1","linekey":"142f5e82e28e40783de383eb93c570f3","count":1,"command":"hi","minute":"1","hour":"1"},{"command_htmlsafe":"foo","weekday":"1","month":"1","day":"1","linekey":"e1ce16ad6557f5b22f31ada1371d8f77","count":2,"command":"foo","minute":"1","hour":"1"},{"command_htmlsafe":"taco","weekday":"1","month":"1","day":"1","linekey":"01ef1ea05ac43132ded896cad80c8b08","count":3,"command":"taco","minute":"1","hour":"3"},{"command_htmlsafe":"whatev","weekday":"1","month":"1","day":"1","linekey":"09f7366534c5dc41b4196634bbb245d1","count":4,"command":"whatev","minute":"1","hour":"1"},{"count":5}],"event":{"result":1},"postevent":{"result":1},"preevent":{"result":1}}}

  recorded_at: Fri, 03 May 2013 13:48:05 GMT
recorded_with: VCR 2.0.1
