---
http_interactions:
- request:
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?arg-0=lumberg_first&cpanel_jsonapi_apiversion=1&cpanel_jsonapi_func=deluser&cpanel_jsonapi_module=Mysql&cpanel_jsonapi_user=lumberg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - WHM root:iscool
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Keep-Alive-Count:
      - '1'
      Content-Type:
      - text/plain; charset="utf-8"
    body:
      encoding: UTF-8
      string: "{\"apiversion\":\"1\",\"type\":\"event\",\"module\":\"Mysql\",\"func\":\"deluser\",\"source\":\"module\",\"data\":{\"result\":\"\"},\"event\":{\"result\":1}}"
  recorded_at: Sun, 16 Mar 2014 15:33:20 GMT
recorded_with: VCR 2.4.0
