--- 
recorded_with: VCR 2.0.1
http_interactions: 
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=getranddata&cpanel_jsonapi_module=Rand&cpanel_jsonapi_user=lumberg&length=10
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Keep-Alive-Count: 
      - "1"
      Content-Type: 
      - application/json; charset="utf-8"
    body: 
      string: |
        {"cpanelresult":{"event":{"result":1},"apiversion":2,"module":"Rand","data":[{"random":"W2v9kFSldI"}],"func":"getranddata"}}

  recorded_at: Wed, 15 May 2013 04:21:27 GMT
