--- 
recorded_with: VCR 2.0.1
http_interactions: 
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=change_password&cpanel_jsonapi_module=Passwd&cpanel_jsonapi_user=lumberg&newpass=realtopsecretpassword&oldpass=12345
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"data":[{"statustxt":"Your password has been changed!","applist":[{"app":"system"},{"app":"ftp"},{"app":"mail"},{"app":"webdisk (digest)"}],"status":1,"passwdoutput":"Changing password for user lumberg.\r\nChanging password for lumberg\r\n(current) UNIX password: \r\nNew UNIX password: \r\nRetype new UNIX password: \r\npasswd: all authentication tokens updated successfully.\r\n"}],"func":"change_password","apiversion":2,"event":{"result":1},"module":"Passwd"}}

  recorded_at: Wed, 15 May 2013 04:20:30 GMT
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=change_password&cpanel_jsonapi_module=Passwd&cpanel_jsonapi_user=lumberg&new=realtopsecretpassword&old=12345
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"event":{"result":1},"error":"\"oldpass\" is a required argument.","data":[{"passwdoutput":null,"applist":[{"app":"none"}],"statustxt":"\"oldpass\" is a required argument.","status":0}],"func":"change_password","module":"Passwd","apiversion":2}}

  recorded_at: Mon, 10 Jun 2013 18:53:32 GMT
