---
http_interactions:
- request:
    method: get
    uri: https://myhost.com:2087/json-api/domainuserdata?domain=notexists.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - WHM root:iscool
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: ! '{"result":[{"status":0,"statusmsg":"Unable to determine account owner
        for domain."}]}'
  recorded_at: Wed, 07 Mar 2012 21:53:52 GMT
- request:
    method: get
    uri: https://myhost.com:2087/json-api/domainuserdata?domain=example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - WHM root:iscool
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: ! '{"result":[{"status":1,"statusmsg":"Obtained userdata."}],"userdata":{"usecanonicalname":"Off","port":"80","phpopenbasedirprotect":"1","group":"changeme","documentroot":"/home/changeme/public_html","hascgi":"0","serveradmin":"webmaster@example.com","options":"-ExecCGI
        -Includes","user":"changeme","customlog":[{"format":"combined","target":"/usr/local/apache/domlogs/example.com"},{"format":"\"%{%s}t
        %I .\\n%{%s}t %O .\"","target":"/usr/local/apache/domlogs/example.com-bytes_log"}],"servername":"example.com","ip":"192.1.2.3","scriptalias":[{"path":"/home/changeme/public_html/cgi-bin","url":"/cgi-bin/"}],"serveralias":"www.example.com","homedir":"/home/changeme","owner":"root"}}'
  recorded_at: Wed, 07 Mar 2012 21:53:52 GMT
recorded_with: VCR 2.0.0
...
