---
http_interactions:
- request:
    method: get
    uri: https://myhost.com:2087/json-api/listsuspended
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - WHM root:iscool
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: ! '{"status":1,"statusmsg":"Ok","accts":[]}'
  recorded_at: Wed, 07 Mar 2012 21:53:52 GMT
- request:
    method: get
    uri: https://myhost.com:2087/json-api/listsuspended?empty=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - WHM root:iscool
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: ! '{"status":1,"statusmsg":"Ok","accts":[{"reason":"Unknown","unixtime":"1298564189","owner":"root","user":"removeme","time":"Thu
        Feb 24 10:16:29 2011"}]}'
  recorded_at: Wed, 07 Mar 2012 21:53:52 GMT
recorded_with: VCR 2.0.0
...
