---
http_interactions:
- request:
    method: get
    uri: https://myhost.com:2087/json-api/modifyacct?domain=example.com&user=changeme
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - WHM root:iscool
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: ! '{"result":[{"newcfg":{"setshell":"unmodified","domain":"example.com","user":"changeme","cpuser":{"MXCHECK-example.com":"0","DEADDOMAINS":[],"DBOWNER":"changeme","IP":"192.1.2.3","MAXSUB":"unlimited","DOMAIN":"example.com","CONTACTEMAIL":"user@address.com","MAXSQL":"unlimited","MAXFTP":"unlimited","LOCALE":"en","HASCGI":"1","CONTACTEMAIL2":"user2@address.com","DEMO":0,"USER":"changeme","FEATURELIST":"default","BWLIMIT":"unlimited","DOMAINS":[],"MTIME":"1298658902","STARTDATE":"1298658868","OWNER":"root","__CACHE_DATA_VERSION":"0.2","MAXPARK":"0","RS":"x3","PLAN":"default","MAXADDON":"0","MAXPOP":"unlimited","MAXLST":"unlimited"}},"status":1,"statusmsg":"Account
        Modified","warnings":[],"messages":[]}]}'
  recorded_at: Wed, 07 Mar 2012 21:53:52 GMT
- request:
    method: get
    uri: https://myhost.com:2087/json-api/modifyacct?user=notexists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - WHM root:iscool
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: ! '{"result":[{"newcfg":null,"status":0,"statusmsg":"Unable to fetch
        the cPanel user file for notexists","warnings":null,"messages":null}]}'
  recorded_at: Wed, 07 Mar 2012 21:53:52 GMT
- request:
    method: get
    uri: https://myhost.com:2087/json-api/modifyacct?user=changeme
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - WHM root:iscool
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: ! '{"result":[{"newcfg":{"setshell":"unmodified","domain":"example.com","user":"changeme","cpuser":{"MXCHECK-example.com":"0","DEADDOMAINS":[],"DBOWNER":"changeme","MAXSUB":"unlimited","IP":"192.1.2.3","CONTACTEMAIL":"user@address.com","DOMAIN":"example.com","MAXSQL":"unlimited","MAXFTP":"unlimited","LOCALE":"en","HASCGI":"1","CONTACTEMAIL2":"user2@address.com","DEMO":0,"USER":"changeme","FEATURELIST":"default","DOMAINS":[],"BWLIMIT":"unlimited","MTIME":"1298658924","STARTDATE":"1298658868","OWNER":"root","__CACHE_DATA_VERSION":"0.2","MAXPARK":"0","RS":"x3","PLAN":"default","MAXADDON":"0","MAXLST":"unlimited","MAXPOP":"unlimited"}},"status":1,"statusmsg":"Account
        Modified","warnings":[],"messages":[]}]}'
  recorded_at: Wed, 07 Mar 2012 21:53:52 GMT
recorded_with: VCR 2.0.0
...
