---
http_interactions:
- request:
    method: get
    uri: https://myhost.com:2087/json-api/passwd?pass=superpass&user=changeme
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - WHM root:iscool
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: ! '{"passwd":[{"status":1,"services":[{"app":"system"},{"app":"ftp"},{"app":"mail"},{"app":"mySQL"}],"statusmsg":"Password
        changed for user changeme","rawout":"Changing password for changeme\nPassword
        for changeme has been changed\nUpdating ftp passwords for changeme\nFtp password
        files updated.\nFtp vhost passwords synced\n"}]}'
  recorded_at: Wed, 07 Mar 2012 21:53:52 GMT
- request:
    method: get
    uri: https://myhost.com:2087/json-api/passwd?pass=superpass&user=dontchangeme
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - WHM root:iscool
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: ! '{"passwd":[{"status":0,"services":null,"statusmsg":"Sorry, the user
        dontchangeme does not exist.","rawout":null}]}'
  recorded_at: Wed, 07 Mar 2012 21:53:52 GMT
recorded_with: VCR 2.0.0
...
