---
http_interactions:
- request:
    method: get
    uri: https://myhost.com:2087/json-api/unsuspendacct?user=notexists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - WHM root:iscool
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: ! '{"result":[{"status":0,"statusmsg":"_unsuspendacct called for a user
        that does not exist. (notexists)"}]}'
  recorded_at: Wed, 07 Mar 2012 21:53:52 GMT
- request:
    method: get
    uri: https://myhost.com:2087/json-api/unsuspendacct?user=asdfasdf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - WHM root:iscool
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: ! '{"result":[{"status":1,"statusmsg":"<script>if (self[''clear_ui_status''])
        { clear_ui_status(); }</script>\nChanging shell for asdfasdf.\nShell changed.\nUnlocking
        password for user asdfasdf.\npasswd: Success.\nUnsuspending FTP accounts...\nUpdating
        ftp passwords for asdfasdf\nFtp password files updated.\nFtp vhost passwords
        synced\nasdfasdf''s account is now active\nUnsuspending mysql users\nNotification
        => notify@example.com via EMAIL [level => 3]\n"}]}'
  recorded_at: Wed, 07 Mar 2012 21:53:52 GMT
recorded_with: VCR 2.0.0
...
