---
http_interactions:
- request:
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=passwd&cpanel_jsonapi_module=Ftp&cpanel_jsonapi_user=lumberg&pass=boo&user=bob
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - WHM root:iscool
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Keep-Alive-Count:
      - '1'
      Content-Type:
      - text/plain; charset="utf-8"
    body:
      encoding: UTF-8
      string: |
        {"cpanelresult":{"data":[{"result":1,"reason":"OK"}],"func":"passwd","module":"Ftp","event":{"result":1},"apiversion":2}}
  recorded_at: Fri, 25 Oct 2013 13:23:50 GMT
recorded_with: VCR 2.4.0
