--- 
http_interactions: 
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=listfullbackups&cpanel_jsonapi_module=Backups&cpanel_jsonapi_user=lumberg
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/plain; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"postevent":{"result":1},"func":"listfullbackups","module":"Backups","preevent":{"result":1},"apiversion":2,"event":{"result":1},"data":[{"localtime":"Wed Sep 26 14:21:14 2012","status":"complete","time":"1348687274","file":"backup-9.26.2012_14-21-14_lumberg.tar.gz"},{"localtime":"Wed Sep 26 14:21:50 2012","status":"complete","time":"1348687310","file":"backup-9.26.2012_14-21-50_lumberg.tar.gz"}]}}

  recorded_at: Fri, 03 May 2013 13:46:46 GMT
recorded_with: VCR 2.0.1
