---
http_interactions:
- request:
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=listcrts&cpanel_jsonapi_module=SSL&cpanel_jsonapi_user=lumberg&user=api_username
    body:
      string: ""
    headers:
      Authorization:
      - WHM root:iscool
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset="utf-8"
      X-Keep-Alive-Count:
      - "1"
    body:
      string: |
        {"cpanelresult":{"event":{"result":1},"module":"SSL","apiversion":2,"data":[{"issuer":"another.com","ssltxt":"Certificate:\n    Data:\n        Version: 3 (0x2)\n        Serial Number:\n            df:69:16:45:a4:4f:07:18\n        Signature Algorithm: sha1WithRSAEncryption\n        Issuer: C=US, ST=TX, L=Houston, O=Pressed, OU=Eng, CN=another.com/emailAddress=lumberg@initech.com\n        Validity\n            Not Before: Apr 24 19:32:49 2013 GMT\n            Not After : Apr 24 19:32:49 2014 GMT\n        Subject: C=US, ST=TX, L=Houston, O=Pressed, OU=Eng, CN=another.com/emailAddress=lumberg@initech.com\n[...]
