--- 
http_interactions: 
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=listcsrs&cpanel_jsonapi_module=SSL&cpanel_jsonapi_user=lumberg&user=api_username
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Keep-Alive-Count: 
      - "1"
      Content-Type: 
      - text/plain; charset="utf-8"
    body: 
      string: |
        {"cpanelresult":{"event":{"result":1},"func":"listcsrs","module":"SSL","data":[{"host":"lumberg-test.com"}],"apiversion":2}}

  recorded_at: Tue, 04 Jun 2013 19:41:06 GMT
recorded_with: VCR 2.0.1
