---
http_interactions:
- request:
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=1&cpanel_jsonapi_func=delete&cpanel_jsonapi_module=SSL&cpanel_jsonapi_user=lumberg&domain=lumberg-test.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - WHM root:iscool
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Keep-Alive-Count:
      - '1'
      Content-Type:
      - text/plain; charset="utf-8"
    body:
      encoding: UTF-8
      string: '{"apiversion":"1","type":"event","module":"SSL","func":"delete","source":"module","data":{"result":"
        <br />The SSL host was successfully removed.\n"},"event":{"result":1}}'
  recorded_at: Fri, 08 Nov 2013 16:27:03 GMT
recorded_with: VCR 2.5.0
