--- 
recorded_with: VCR 2.0.1
http_interactions: 
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=install&cpanel_jsonapi_module=DKIMUI&cpanel_jsonapi_user=lumberg
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Keep-Alive-Count: 
      - "1"
      Content-Type: 
      - application/json; charset="utf-8"
    body: 
      string: |
        {"cpanelresult":{"data":[{"installed":"DKIM has been enabled."}],"func":"install","event":{"result":1},"module":"DKIMUI","apiversion":2}}

  recorded_at: Fri, 17 May 2013 03:58:56 GMT
