--- 
recorded_with: VCR 2.0.1
http_interactions: 
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=installed&cpanel_jsonapi_module=DKIMUI&cpanel_jsonapi_user=lumberg
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"event":{"result":1},"module":"DKIMUI","apiversion":2,"func":"installed","data":[{"active":0,"installed":1}]}}

  recorded_at: Tue, 11 Jun 2013 13:00:32 GMT
