--- 
http_interactions: 
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=listparkeddomains&cpanel_jsonapi_module=Park&cpanel_jsonapi_user=lumberg
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/plain; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"func":"listparkeddomains","module":"Park","data":[],"event":{"result":1},"preevent":{"result":1},"apiversion":2,"postevent":{"result":1}}}

  recorded_at: Fri, 03 May 2013 13:47:49 GMT
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=listparkeddomains&cpanel_jsonapi_module=Park&cpanel_jsonapi_user=minimal
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/plain; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"data":[],"postevent":{"result":1},"func":"listparkeddomains","preevent":{"result":1},"event":{"result":1},"apiversion":2,"module":"Park"}}

  recorded_at: Fri, 03 May 2013 13:47:49 GMT
recorded_with: VCR 2.0.1
