--- 
http_interactions: 
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=park&cpanel_jsonapi_module=Park&cpanel_jsonapi_user=lumberg&domain=test-park.com
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/plain; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"preevent":{"result":1},"event":{"result":1},"func":"park","error":"test-park.com is already configured.\n","data":[{"reason":"test-park.com is already configured.\n","result":0}],"module":"Park","postevent":{"result":1},"apiversion":2}}

  recorded_at: Fri, 03 May 2013 13:47:41 GMT
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=unpark&cpanel_jsonapi_module=Park&cpanel_jsonapi_user=lumberg&domain=test-park.com
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/plain; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"module":"Park","apiversion":2,"event":{"result":1},"data":[{"result":1,"reason":"test-park.com was successfully unparked"}],"preevent":{"result":1},"postevent":{"result":1},"func":"unpark"}}

  recorded_at: Fri, 03 May 2013 13:47:48 GMT
recorded_with: VCR 2.0.1
