--- 
http_interactions: 
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=listaddondomains&cpanel_jsonapi_module=AddonDomain&cpanel_jsonapi_user=lumberg
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/plain; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"preevent":{"result":1},"data":[],"func":"listaddondomains","apiversion":2,"event":{"result":1},"postevent":{"result":1},"module":"AddonDomain"}}

  recorded_at: Fri, 03 May 2013 13:48:44 GMT
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=listaddondomains&cpanel_jsonapi_module=AddonDomain&cpanel_jsonapi_user=minimal
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/plain; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"module":"AddonDomain","preevent":{"result":1},"event":{"result":1},"apiversion":2,"data":[],"postevent":{"result":1},"func":"listaddondomains"}}

  recorded_at: Fri, 03 May 2013 13:48:45 GMT
recorded_with: VCR 2.0.1
