--- 
http_interactions: 
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=addaddondomain&cpanel_jsonapi_module=AddonDomain&cpanel_jsonapi_user=lumberg&dir=public_html/test-addon.com/&newdomain=test-addon.com&subdomain=testadd
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/plain; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"data":[{"reason":"test-addon.com was successfully parked on top of testadd.lumberg-test.com","result":1}],"postevent":{"result":1},"preevent":{"result":1},"apiversion":2,"module":"AddonDomain","event":{"result":1},"func":"addaddondomain"}}

  recorded_at: Fri, 03 May 2013 13:48:16 GMT
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=deladdondomain&cpanel_jsonapi_module=AddonDomain&cpanel_jsonapi_user=lumberg&domain=test-addon.com&subdomain=testadd_lumberg-test.com
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/plain; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"event":{"result":1},"apiversion":2,"module":"AddonDomain","preevent":{"result":1},"func":"deladdondomain","data":[{"result":1,"reason":"Deleted domain: testadd.lumberg-test.com\nThe zone file for 'lumberg-test.com' has been edited and your new data has been added to it.\r\nsaved lumberg-test.com\nThe subdomain, testadd.lumberg-test.com has been removed."}],"postevent":{"result":1}}}

  recorded_at: Fri, 03 May 2013 13:48:25 GMT
recorded_with: VCR 2.0.1
