---
http_interactions:
- request:
    method: get
    uri: https://myhost.com:2087/json-api/addip?ip=208.77.188.166&netmask=255.255.255.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - WHM root:iscool
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: ! '{"addip":[{"errors":[],"status":1,"statusmsg":"Success","msgs":"eth0:cp242
        is now up.  208.77.188.166/255.255.255.0 broadcast 208.77.188.255 has been
        added\nSystem has 240 free ips."}]}'
  recorded_at: Wed, 07 Mar 2012 21:53:52 GMT
recorded_with: VCR 2.0.0
...
