---
http_interactions:
- request:
    method: get
    uri: https://myhost.com:2087/json-api/edit_hook?api.version=1&disabled=1&id=1234
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - WHM root:iscool
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Keep-Alive-Count:
      - '1'
      Content-Type:
      - text/plain; charset="utf-8"
    body:
      encoding: UTF-8
      string: '{"metadata":{"result":1,"reason":"OK","version":1,"command":"edit_hook"}}'
  recorded_at: Thu, 17 Apr 2014 19:24:57 GMT
recorded_with: VCR 2.4.0
