---
http_interactions:
- request:
    method: get
    uri: https://myhost.com:2087/json-api/getlanglist
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - WHM root:iscool
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: ! '{"lang":["arabic","bengali","brazilian-portuguese-utf8","chinese","dutch-utf8","english","english-utf8","french","french-utf8","german","german-utf8","hindi","iberian_spanish","japanese","portuguese","portuguese-utf8","russian","spanish","spanish-utf8"],"themes":{"x3":{"spanish":1,"japanese":1,"bengali":1,"english":1,"russian":1,"french-utf8":1,"brazilian-portuguese-utf8":1,"arabic":1,"spanish-utf8":1,"portuguese":1,"german":1,"portuguese-utf8":1,"hindi":1,"chinese":1,"german-utf8":1,"iberian_spanish":1,"french":1,"dutch-utf8":1,"english-utf8":1},"/":{"spanish":1,"japanese":1,"bengali":1,"english":1,"russian":1,"french-utf8":1,"brazilian-portuguese-utf8":1,"arabic":1,"spanish-utf8":1,"portuguese":1,"german":1,"portuguese-utf8":1,"hindi":1,"chinese":1,"german-utf8":1,"iberian_spanish":1,"french":1,"dutch-utf8":1,"english-utf8":1},"x":{"english":1},"x3mail":{"spanish":1,"japanese":1,"bengali":1,"english":1,"russian":1,"french-utf8":1,"arabic":1,"spanish-utf8":1,"portuguese":1,"german":1,"portuguese-utf8":1,"hindi":1,"chinese":1,"german-utf8":1,"french":1,"english-utf8":1}}}'
  recorded_at: Wed, 07 Mar 2012 21:53:52 GMT
recorded_with: VCR 2.0.0
...
