---
http_interactions:
- request:
    method: get
    uri: https://myhost.com:2087/json-api/list_hooks?api.version=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - WHM root:iscool
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Keep-Alive-Count:
      - '1'
      Content-Type:
      - text/plain; charset="utf-8"
    body:
      encoding: UTF-8
      string: '{"data":{"categories":[{"events":[{"event":"nsd","stage_order":["pre","post"],"stages":[]}]}]},"metadata":{"result":1,"command":"list_hooks","version":1,"reason":"OK"}}'
  recorded_at: Thu, 17 Apr 2014 19:08:03 GMT
recorded_with: VCR 2.4.0
