---
http_interactions:
- request:
    method: get
    uri: https://myhost.com:2087/json-api/lookupnsip?api.version=1&host=site5.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - WHM root:iscool
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Keep-Alive-Count:
      - '1'
      Content-Type:
      - text/plain; charset="utf-8"
    body:
      encoding: UTF-8
      string: '{"data":{"ip":"184.172.56.240"},"metadata":{"version":1,"reason":"OK","result":1,"command":"lookupnsip"}}'
  recorded_at: Mon, 04 Aug 2014 20:08:27 GMT
recorded_with: VCR 2.9.2
