---
http_interactions:
- request:
    method: get
    uri: https://myhost.com:2087/json-api/set_tweaksetting?api.version=1&key=skipwebalizer&value=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - WHM root:iscool
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Keep-Alive-Count:
      - '1'
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: '{"metadata":{"reason":"OK","version":1,"command":"set_tweaksetting","result":1}}'
  recorded_at: Tue, 10 Sep 2013 12:33:30 GMT
recorded_with: VCR 2.4.0
