---
http_interactions:
- request:
    method: get
    uri: https://myhost.com:2087/json-api/showbw?month=5&year=2011
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - WHM root:iscool
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: ! '{"bandwidth":[{"reseller":"root","month":"5","acct":[{"reseller":"1","bwusage":[{"deleted":0,"usage":0,"domain":"testsiteone.com"}],"deleted":0,"limit":"999999999999990","owner":"testsi","user":"chicagot","maindomain":"testsiteone.com","totalbytes":0},{"reseller":0,"bwusage":[{"deleted":0,"usage":0,"domain":"testsitetwo.com"}],"deleted":0,"limit":"1048576000","owner":"root","user":"testsit","maindomain":"testsitetwo.com","totalbytes":0},{"reseller":0,"bwusage":[{"deleted":0,"usage":0,"domain":"blah.example.com"},{"deleted":0,"usage":0,"domain":"newuser.example.com"}],"deleted":0,"limit":"1049624576","owner":"root","user":"newuser","maindomain":"blah.example.com","totalbytes":0}],"totalused":0,"year":"2011"}]}'
  recorded_at: Wed, 07 Mar 2012 21:53:52 GMT
recorded_with: VCR 2.0.0
...
