---
http_interactions:
- request:
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=appstrengths&cpanel_jsonapi_module=PasswdStrength&cpanel_jsonapi_user=lumberg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - WHM root:iscool
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Keep-Alive-Count:
      - '1'
      Content-Type:
      - text/plain; charset="utf-8"
    body:
      encoding: UTF-8
      string: |
        {"cpanelresult":{"preevent":{"result":1},"module":"PasswdStrength","event":{"result":1},"func":"appstrengths","data":[{"strength":0,"app":"htaccess"},{"strength":70,"app":"createacct"},{"strength":70,"app":"ftp"},{"strength":70,"app":"cpaddons"},{"strength":70,"app":"sshkey"},{"strength":70,"app":"mysql"},{"strength":70,"app":"list"},{"strength":70,"app":"bandmin"},{"strength":70,"app":"webdisk"},{"strength":70,"app":"passwd"},{"strength":70,"app":"postgres"},{"strength":70,"app":"pop"}],"postevent":{"result":1},"apiversion":2}}
  recorded_at: Wed, 09 Oct 2013 15:07:10 GMT
recorded_with: VCR 2.4.0
