---
http_interactions:
- request:
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?app=htaccess&cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=get_required_strength&cpanel_jsonapi_module=PasswdStrength&cpanel_jsonapi_user=lumberg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - WHM root:iscool
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Keep-Alive-Count:
      - '1'
      Content-Type:
      - text/plain; charset="utf-8"
    body:
      encoding: UTF-8
      string: |
        {"cpanelresult":{"data":[{"strength":70}],"module":"PasswdStrength","func":"get_required_strength","preevent":{"result":1},"postevent":{"result":1},"event":{"result":1},"apiversion":2}}
  recorded_at: Wed, 09 Oct 2013 15:07:09 GMT
recorded_with: VCR 2.4.0
