--- 
recorded_with: VCR 2.0.1
http_interactions: 
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?app=htaccess&cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=get_required_strength&cpanel_jsonapi_module=PasswdStrength&cpanel_jsonapi_user=lumberg
    
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"data":[{"strength":70}],"func":"get_required_strength","apiversion":2,"event":{"result":1},"module":"PasswdStrength"}}

  recorded_at: Wed, 15 May 2013 04:20:30 GMT
