---
http_interactions:
- request:
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=get_password_strength&cpanel_jsonapi_module=PasswdStrength&cpanel_jsonapi_user=lumberg&password=weakness
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - WHM root:iscool
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Keep-Alive-Count:
      - '1'
      Content-Type:
      - text/plain; charset="utf-8"
    body:
      encoding: UTF-8
      string: |
        {"cpanelresult":{"event":{"result":1},"postevent":{"result":1},"module":"PasswdStrength","data":[{"strength":"24"}],"func":"get_password_strength","apiversion":2,"preevent":{"result":1}}}
  recorded_at: Wed, 09 Oct 2013 15:07:08 GMT
- request:
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=get_password_strength&cpanel_jsonapi_module=PasswdStrength&cpanel_jsonapi_user=lumberg&password=0zUIcv-0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - WHM root:iscool
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Keep-Alive-Count:
      - '1'
      Content-Type:
      - text/plain; charset="utf-8"
    body:
      encoding: UTF-8
      string: |
        {"cpanelresult":{"event":{"result":1},"postevent":{"result":1},"func":"get_password_strength","module":"PasswdStrength","apiversion":2,"preevent":{"result":1},"data":[{"strength":"82"}]}}
  recorded_at: Wed, 09 Oct 2013 15:07:09 GMT
recorded_with: VCR 2.4.0
