--- 
recorded_with: VCR 2.0.1
http_interactions: 
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=fetchcharmaps&cpanel_jsonapi_module=Email&cpanel_jsonapi_user=lumberg
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"func":"fetchcharmaps","module":"Email","apiversion":2,"data":[{"map":"ansi_x3.110-1983"},{"map":"ansi_x3.4-1968"},{"map":"armscii-8"},{"map":"ascii"},{"map":"asmo_449"},{"map":"big5"},{"map":"big5-eten"},{"map":"big5-hkscs"},{"map":"bs_4730"},{"map":"bs_viewdata"},{"map":"cp10007"},{"map":"cp1125"},{"map":"cp1250"},{"map":"cp1251"},{"map":"cp1252"},{"map":"cp1253"},{"map":"cp1254"},{"map":"cp1255"},{"map":"cp1256"},{"map":"cp1257"},{"map":"cp1258"},{"map":"cp737"},{"map":"cp775"},{"map":"cp936"},{"map":"cp949"},{"map":"csa_z243.4-1985-1"},{"map":"csa_z243.4-1985-[...]
