--- 
recorded_with: VCR 2.0.1
http_interactions: 
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=addmx&cpanel_jsonapi_module=Email&cpanel_jsonapi_user=lumberg&domain=lumberg-test.com&exchange=mail.lumberg-test.com&preference=2
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Keep-Alive-Count: 
      - "1"
      Content-Type: 
      - text/plain; charset="utf-8"
    body: 
      string: |
        {"cpanelresult":{"module":"Email","apiversion":2,"func":"addmx","data":[{"status":1,"statusmsg":"Reusing existing entry on line matched new entry and new priority: 29:\nNo dns changes are required","results":"Reusing existing entry on line matched new entry and new priority: 29:\nNo dns changes are required","checkmx":{"local":1,"isprimary":1,"remote":0,"warnings":[],"secondary":0,"issecondary":0,"changed":1,"detected":"local","mxcheck":"auto"}}],"event":{"result":1}}}

  recorded_at: Fri, 24 May 2013 17:40:26 GMT
