--- 
http_interactions: 
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=addpop&cpanel_jsonapi_module=Email&cpanel_jsonapi_user=lumberg&domain=lumberg-test.com&email=filters-test&password=abcdefg&quota=0
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/plain; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"apiversion":2,"module":"Email","preevent":{"result":1},"func":"addpop","data":[{"result":0,"reason":"The account filters-test@lumberg-test.com already exists!"}],"error":"The account filters-test@lumberg-test.com already exists!","postevent":{"result":1},"event":{"result":1}}}

  recorded_at: Fri, 03 May 2013 16:48:01 GMT
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?account=filters-test@lumberg-test.com&action1=fail&cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=storefilter&cpanel_jsonapi_module=Email&cpanel_jsonapi_user=lumberg&filtername=fail%20filter&match1=is&opt1=and&part1=$header_from:&val1=hi
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/plain; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"preevent":{"result":1},"event":{"result":1},"func":"storefilter","data":[{"error":0,"ok":1,"result":"Filter Saved.","account":"filters-test@lumberg-test.com"}],"postevent":{"result":1},"module":"Email","apiversion":2}}

  recorded_at: Fri, 03 May 2013 16:48:01 GMT
recorded_with: VCR 2.0.1
