--- 
http_interactions: 
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=addpop&cpanel_jsonapi_module=Email&cpanel_jsonapi_user=lumberg&domain=lumberg-test.com&email=account-test&password=magicpants&quota=0
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/plain; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"data":[{"result":0,"reason":"The account account-test@lumberg-test.com already exists!"}],"apiversion":2,"error":"The account account-test@lumberg-test.com already exists!","postevent":{"result":1},"preevent":{"result":1},"event":{"result":1},"func":"addpop","module":"Email"}}

  recorded_at: Fri, 03 May 2013 16:47:38 GMT
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=listpopswithdisk&cpanel_jsonapi_module=Email&cpanel_jsonapi_user=lumberg
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/plain; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"func":"listpopswithdisk","postevent":{"result":1},"apiversion":2,"event":{"result":1},"data":[{"diskused":0,"domain":"lumberg-test.com","diskusedpercent20":0,"email":"account-test@lumberg-test.com","txtdiskquota":"unlimited","humandiskused":"None","humandiskquota":"None","login":"account-test@lumberg-test.com","_diskquota":null,"diskquota":"unlimited","user":"account-test","mtime":"1367588811","_diskused":"0","diskusedpercent":0},{"diskused":0,"domain":"lumberg-test.com","diskusedpercent20":0,"email":"disk-usage-test@lumberg-test.com","txtdiskquota":"unlimited","humandiskused":"None","humandiskquota":"None","login":"disk-usage-test@lumberg-test.com","_diskquota":null,"diskquota":"unlimited","user":"disk-usage-test","mtime":"1367588811","_diskused":"0","diskusedpercent":0},{"diskused":0,"domain":"lumberg-test.com","diskusedpercent20":0,"email":"filters-test@lumberg-test.com","txtdiskquota":"unlimited","humandiskused":"[...]
