--- 
http_interactions: 
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=addforward&cpanel_jsonapi_module=Email&cpanel_jsonapi_user=lumberg&domain=lumberg-test.com&email=fwd-test&fwdemail=foo@bar.com&fwdopt=fwd
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/plain; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"func":"addforward","postevent":{"result":1},"module":"Email","apiversion":2,"event":{"result":1},"preevent":{"result":1},"data":[{"email":"fwd-test@lumberg-test.com","forward":"foo@bar.com","domain":"lumberg-test.com"}]}}

  recorded_at: Fri, 03 May 2013 16:47:35 GMT
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=listforwards&cpanel_jsonapi_module=Email&cpanel_jsonapi_user=lumberg
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/plain; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"data":[{"html_forward":"foo@bar.com","uri_forward":"foo%40bar.com","html_dest":"alias-test@lumberg-test.com","forward":"foo@bar.com","uri_dest":"alias-test%40lumberg-test.com","dest":"alias-test@lumberg-test.com"},{"html_forward":"foo@bar.com","uri_forward":"foo%40bar.com","html_dest":"fwd-test@lumberg-test.com","forward":"foo@bar.com","uri_dest":"fwd-test%40lumberg-test.com","dest":"fwd-test@lumberg-test.com"},{"html_forward":"foo@bar.com","uri_forward":"foo%40bar.com","html_dest":"test-fwd@lumberg-test.com","forward":"foo@bar.com","uri_dest":"test-fwd%40lumberg-test.com","dest":"test-fwd@lumberg-test.com"}],"postevent":{"result":1},"event":{"result":1},"func":"listforwards","preevent":{"result":1},"module":"Email","apiversion":2}}

  recorded_at: Fri, 03 May 2013 16:47:36 GMT
recorded_with: VCR 2.0.1
