---
http_interactions:
- request:
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=passwdpop&cpanel_jsonapi_module=Email&cpanel_jsonapi_user=lumberg&domain=myhost.com&email=test123@myhost.com&password=test123
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - WHM root:"iscool"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Keep-Alive-Count:
      - '1'
      Content-Type:
      - text/plain; charset="utf-8"
    body:
      encoding: UTF-8
      string: |
        {"cpanelresult":{"apiversion":2,"postevent":{"result":1},"preevent":{"result":1},"func":"passwdpop","data":[{"result":1,"reason":""}],"event":{"result":1},"module":"Email"}}
  recorded_at: Mon, 21 Jul 2014 18:09:47 GMT
recorded_with: VCR 2.9.2
