--- 
recorded_with: VCR 2.0.1
http_interactions: 
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=addmx&cpanel_jsonapi_module=Email&cpanel_jsonapi_user=lumberg&domain=lumberg-test.com&exchange=mail.lumberg-test.com&oldpreference=2&preference=1
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/plain; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"apiversion":2,"func":"addmx","module":"Email","data":[{"checkmx":{"remote":0,"isprimary":1,"local":1,"warnings":[],"detected":"local","issecondary":0,"secondary":0,"mxcheck":"auto","changed":1},"status":1,"statusmsg":"Reusing existing entry on line matched new entry and new priority: 28:\nNo dns changes are required","results":"Reusing existing entry on line matched new entry and new priority: 28:\nNo dns changes are required"}],"event":{"result":1}}}

  recorded_at: Fri, 24 May 2013 17:40:44 GMT
