--- 
http_interactions: 
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=setalwaysaccept&cpanel_jsonapi_module=Email&cpanel_jsonapi_user=lumberg&delivery=local&domain=lumberg-test.com&mxcheck=local
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/plain; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"preevent":{"result":1},"postevent":{"result":1},"data":[{"secondary":0,"remote":0,"mxcheck":"local","checkmx":{"secondary":0,"remote":0,"changed":1,"mxcheck":"local","warnings":[],"issecondary":0,"detected":"local","local":1,"isprimary":1},"detected":"local","local":1,"results":"Set Always Accept Status to: local","statusmsg":"Set Always Accept Status to: local","status":1}],"apiversion":2,"module":"Email","event":{"result":1},"func":"setalwaysaccept"}}

  recorded_at: Fri, 03 May 2013 16:47:58 GMT
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=getalwaysaccept&cpanel_jsonapi_module=Email&cpanel_jsonapi_user=lumberg&domain=lumberg-test.com
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/plain; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"preevent":{"result":1},"apiversion":2,"module":"Email","func":"getalwaysaccept","data":[{"alwaysaccept":1,"domain":"lumberg-test.com","mxcheck":"auto"}],"event":{"result":1},"postevent":{"result":1}}}

  recorded_at: Fri, 03 May 2013 16:47:58 GMT
recorded_with: VCR 2.0.1
