--- 
http_interactions: 
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=listdefaultaddresses&cpanel_jsonapi_module=Email&cpanel_jsonapi_user=lumberg&domain=lumberg-test.com
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/plain; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"data":[{"domain":"lumberg-test.com","defaultaddress":"\":fail: No Such User Here\""}],"preevent":{"result":1},"event":{"result":1},"postevent":{"result":1},"module":"Email","apiversion":2,"func":"listdefaultaddresses"}}

  recorded_at: Fri, 03 May 2013 16:48:07 GMT
recorded_with: VCR 2.0.1
