--- 
http_interactions: 
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=addforward&cpanel_jsonapi_module=Email&cpanel_jsonapi_user=lumberg&domain=lumberg-test.com&email=alias-test&fwdemail=foo@bar.com&fwdopt=fwd
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/plain; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"event":{"result":1},"data":[{"domain":"lumberg-test.com","email":"alias-test@lumberg-test.com","forward":"foo@bar.com"}],"func":"addforward","preevent":{"result":1},"apiversion":2,"postevent":{"result":1},"module":"Email"}}

  recorded_at: Fri, 03 May 2013 16:47:37 GMT
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=listaliasbackups&cpanel_jsonapi_module=Email&cpanel_jsonapi_user=lumberg
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/plain; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"data":[{"domain":"lumberg-test.com"},{"domain":"sub.lumberg-test.com"}],"apiversion":2,"event":{"result":1},"postevent":{"result":1},"func":"listaliasbackups","module":"Email","preevent":{"result":1}}}

  recorded_at: Fri, 03 May 2013 16:47:37 GMT
recorded_with: VCR 2.0.1
