--- 
http_interactions: 
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=listmaildomains&cpanel_jsonapi_module=Email&cpanel_jsonapi_user=lumberg
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/plain; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"module":"Email","data":[{"domain":"lumberg-test.com"},{"domain":"sub.lumberg-test.com"}],"preevent":{"result":1},"event":{"result":1},"postevent":{"result":1},"func":"listmaildomains","apiversion":2}}

  recorded_at: Fri, 03 May 2013 16:47:44 GMT
recorded_with: VCR 2.0.1
