--- 
recorded_with: VCR 2.0.1
http_interactions: 
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=listpopswithdisk&cpanel_jsonapi_module=Email&cpanel_jsonapi_user=lumberg
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"func":"listpopswithdisk","data":[{"domain":"lumberg-test.com","diskusedpercent":0,"_diskquota":"0","user":"account-test","humandiskquota":"None","humandiskused":"None","mtime":"1368587691","_diskused":"0","diskusedpercent20":0,"login":"account-test@lumberg-test.com","txtdiskquota":"unlimited","diskquota":"unlimited","diskused":0,"email":"account-test@lumberg-test.com"}],"paginate":{"current_page":null,"results_per_page":null,"start_result":null,"total_pages":null,"total_results":null},"module":"Email","event":{"result":1},"apiversion":2}}

  recorded_at: Wed, 15 May 2013 03:10:53 GMT
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=editquota&cpanel_jsonapi_module=Email&cpanel_jsonapi_user=lumberg&domain=lumberg-test.com&email=account-test&quota=10
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"module":"Email","data":[{"result":1,"reason":""}],"event":{"result":1},"func":"editquota","apiversion":2}}

  recorded_at: Wed, 15 May 2013 03:10:54 GMT
[...]
