--- 
http_interactions: 
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?arg-0=test-list&arg-1=s3cr3t5&arg-2=lumberg-test.com&cpanel_jsonapi_apiversion=1&cpanel_jsonapi_func=addlist&cpanel_jsonapi_module=Email&cpanel_jsonapi_user=lumberg
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/plain; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: "{\"apiversion\":\"1\",\"type\":\"event\",\"module\":\"Email\",\"func\":\"addlist\",\"source\":\"module\",\"data\":{\"result\":\"Creating an email list creates multiple email forwarders and one is being used already.<br />\\nA forwarder already exists for owner-test-list@lumberg-test.com.<br /><br />\\nYou must delete this forwarder before creating the list test-list.\\n\"},\"preevent\":{\"result\":1},\"postevent\":{\"result\":1},\"event\":{\"result\":1},\"error\":\"The requested mailing list address, test-list@lumberg-test.com, conflicts with the forwarder owner-test-list@lumberg-test.com@lumberg-test.com.\"}"
  recorded_at: Fri, 03 May 2013 16:47:34 GMT
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=listlists&cpanel_jsonapi_module=Email&cpanel_jsonapi_user=lumberg
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/plain; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: "{\"cpanelresult\":{\"data\":[{\"humandiskused\":\"21.04\xC2\xA0KB\",\"desthost\":\"mail.lumberg-test.com\",\"listid\":\"add-test_lumberg-test.com\",\"diskused\":\"21542\",\"list\":\"add-test@lumberg-test.com\"},{\"humandiskused\":\"21.04\xC2\xA0KB\",\"desthost\":\"mail.lumberg-test.com\",\"listid\":\"test-list_lumberg-test.com\",\"diskused\":\"21548\",\"list\":\"test-list@lumberg-test.com\"}],\"module\":\"Email\",\"preevent\":{\"result\":1},\"event\":{\"result\":1},\"postevent\":{\"result\":1},\"apiversion\":2,\"func\":\"listlists\"}}\n"
  recorded_at: Fri, 03 May 2013 16:47:35 GMT
recorded_with: VCR 2.0.1
