--- 
http_interactions: 
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=listmxs&cpanel_jsonapi_module=Email&cpanel_jsonapi_user=lumberg
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/plain; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"preevent":{"result":1},"data":[{"mx":"lumberg-test.com","detected":"remote","entries":[{"entrycount":1,"mx":"lumberg-test.com","domain":"lumberg-test.com","row":"odd","priority":0}],"statusmsg":"Fetched MX List","alwaysaccept":0,"domain":"lumberg-test.com","status":1,"remote":0,"mxcheck":"remote","local":0,"secondary":0},{"mx":"sub.lumberg-test.com","detected":"auto","entries":[{"entrycount":1,"mx":"sub.lumberg-test.com","domain":"sub.lumberg-test.com","row":"odd","priority":0}],"statusmsg":"Fetched MX List","alwaysaccept":0,"domain":"sub.lumberg-test.com","status":1,"remote":0,"mxcheck":"auto","local":0,"secondary":0}],"func":"listmxs","event":{"result":1},"postevent":{"result":1},"module":"Email","apiversion":2}}

  recorded_at: Fri, 03 May 2013 16:47:50 GMT
recorded_with: VCR 2.0.1
