--- 
http_interactions: 
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=setalwaysaccept&cpanel_jsonapi_module=Email&cpanel_jsonapi_user=lumberg&delivery=local&domain=lumberg-test.com&mxcheck=local
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/plain; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"preevent":{"result":1},"postevent":{"result":1},"module":"Email","event":{"result":1},"data":[{"secondary":0,"results":"Set Always Accept Status to: local","status":1,"local":1,"detected":"local","remote":0,"statusmsg":"Set Always Accept Status to: local","mxcheck":"local","checkmx":{"isprimary":1,"secondary":0,"changed":1,"local":1,"detected":"local","warnings":[],"remote":0,"issecondary":0,"mxcheck":"local"}}],"func":"setalwaysaccept","apiversion":2}}

  recorded_at: Fri, 03 May 2013 16:47:55 GMT
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=listmxs&cpanel_jsonapi_module=Email&cpanel_jsonapi_user=lumberg&domain=lumberg-test.com
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/plain; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"preevent":{"result":1},"apiversion":2,"func":"listmxs","module":"Email","data":[{"mx":"lumberg-test.com","mxcheck":"local","remote":0,"status":1,"entries":[{"priority":0,"row":"odd","entrycount":1,"mx":"lumberg-test.com","domain":"lumberg-test.com"}],"statusmsg":"Fetched MX List","alwaysaccept":1,"domain":"lumberg-test.com","local":0,"secondary":0,"detected":"local"}],"event":{"result":1},"postevent":{"result":1}}}

  recorded_at: Fri, 03 May 2013 16:47:56 GMT
recorded_with: VCR 2.0.1
