--- 
recorded_with: VCR 2.0.1
http_interactions: 
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=setmxcheck&cpanel_jsonapi_module=Email&cpanel_jsonapi_user=lumberg&domain=lumberg-test.com&mxcheck=remote
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Keep-Alive-Count: 
      - "1"
      Content-Type: 
      - text/plain; charset="utf-8"
    body: 
      string: |
        {"cpanelresult":{"module":"Email","event":{"result":1},"data":[{"statusmsg":"Set Always Accept Status to: remote","status":1,"detected":"remote","remote":1,"secondary":0,"checkmx":{"issecondary":0,"isprimary":0,"detected":"remote","remote":1,"secondary":0,"warnings":[],"local":0,"mxcheck":"remote","changed":1},"local":0,"mxcheck":"remote","results":"Set Always Accept Status to: remote"}],"func":"setmxcheck","apiversion":2}}

  recorded_at: Thu, 30 May 2013 18:16:08 GMT
