--- 
recorded_with: VCR 2.0.1
http_interactions: 
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=getdocroot&cpanel_jsonapi_module=DomainLookup&cpanel_jsonapi_user=lumberg&domain=lumberg-test.com
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"func":"getdocroot","event":{"result":1},"module":"DomainLookup","data":[{"reldocroot":"public_html","docroot":"/home/lumberg/public_html"}],"apiversion":2}}

  recorded_at: Wed, 15 May 2013 03:18:25 GMT
