--- 
recorded_with: VCR 2.0.1
http_interactions: 
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=getdocroots&cpanel_jsonapi_module=DomainLookup&cpanel_jsonapi_user=lumberg
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"data":[{"domain":"lumberg-test.com","docroot":"/home/lumberg/public_html"},{"domain":"other-example.lumberg-test.com","docroot":"/home/lumberg/public_html/other-example"}],"event":{"result":1},"module":"DomainLookup","apiversion":2,"func":"getdocroots"}}

  recorded_at: Wed, 15 May 2013 03:18:25 GMT
