--- 
http_interactions: 
- request: 
    method: get
    uri: https://myhost.com:2087/json-api/cpanel?cpanel_jsonapi_apiversion=2&cpanel_jsonapi_func=listimgtypes&cpanel_jsonapi_module=Branding&cpanel_jsonapi_user=lumberg
    body: 
      string: ""
    headers: 
      Authorization: 
      - WHM root:iscool
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/plain; charset="utf-8"
      X-Keep-Alive-Count: 
      - "1"
    body: 
      string: |
        {"cpanelresult":{"preevent":{"result":1},"apiversion":2,"func":"listimgtypes","data":[],"event":{"result":1},"postevent":{"result":1},"module":"Branding"}}

  recorded_at: Fri, 03 May 2013 13:47:52 GMT
recorded_with: VCR 2.0.1
