---
http_interactions:
- request:
    method: get
    uri: https://myhost.com:2087/json-api/dumpzone?domain=notexists.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - WHM root:iscool
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: ! '{"result":[{"status":0,"statusmsg":"Zone does not exist."}]}'
  recorded_at: Wed, 07 Mar 2012 21:53:52 GMT
- request:
    method: get
    uri: https://myhost.com:2087/json-api/dumpzone?domain=example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - WHM root:iscool
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: ! '{"result":[{"status":1,"record":[{"Line":1,"raw":"; cPanel first:11.25.0-STABLE_44718
        latest:11.28.64-STABLE_51024 Cpanel::ZoneFile::VERSION:1.3 mtime:1299509628
        hostname:myhost.site5.com","ttl":"86400","type":":RAW","name":""},{"Line":2,"raw":";
        Zone file for example.com","ttl":"86400","type":":RAW","name":""},{"Line":3,"ttl":"14400","type":"$TTL","name":""},{"serial":"2011030706","minimum":"86400","rname":"notifications.examplesystems.com","refresh":"86400","Lines":7,"name":"example.com.","Line":4,"retry":"7200","ttl":"86400","class":"IN","mname":"ns1-myhost.site5.com","type":"SOA","expire":"3600000"},{"Line":11,"raw":"","ttl":"86400","type":":RAW","name":""},{"Line":12,"nsdname":"ns1-myhost.site5.com","ttl":"86400","class":"IN","type":"NS","name":"example.com."},{"Line":13,"nsdname":"ns2-myhost.site5.com","ttl":"86400","class":"IN","type":"NS","name":"example.com."},{"Line":14,"raw":"","ttl":"86400","type":":RAW","name":""},{"Line":15,"raw":"","ttl":"86400","type":":RAW","name":""},{"Line":16,"ttl":"14400","address":"192.1.2.3","class":"IN","type":"A","name":"example.com."},{"Line":17,"raw":"","ttl":"86400","type":":RAW","name":""},{"Line":18,"ttl":"14400","address":"192.1.2.3","class":"IN","type":"A","name":"localhost.example.com."},{"Line":19,"raw":"","ttl":"86400","type":":RAW","name":""},{"Line":20,"ttl":"14400","class":"IN","preference":"0","exchange":"example.com","type":"MX","name":"example.com."},{"Line":21,"raw":"","ttl":"86400","type":":RAW","name":""},{"Line":22,"cname":"example.com","ttl":"14400","class":"IN","type":"CNAME","name":"mail.example.com."},{"Line":23,"cname":"example.com","ttl":"14400","class":"IN","type":"CNAME","name":"www.example.com."},{"Line":24,"ttl":"14400","address":"192.1.2.3","class":"IN","type":"A","name":"ftp.example.com."},{"Line":25,"ttl":"14400","address":"192.1.2.3","class":"IN","type":"A","name":"cpanel.example.com."},{"Line":26,"ttl":"14400","address":"192.1.2.3","class":"IN","type":"A","name":"whm.example.com."},{"Line":27,"ttl":"14400","address":"192.1.2.3","class":"IN","type":"A","name":"webmail.example.com."},{"Line":28,"ttl":"14400","address":"192.1.2.3","class":"IN","type":"A","name":"webdisk.example.com."}],"statusmsg":"Zone
        Serialized"}]}'
  recorded_at: Wed, 07 Mar 2012 21:53:52 GMT
recorded_with: VCR 2.0.0
...
