---
http_interactions:
- request:
    method: get
    uri: https://myhost.com:2087/json-api/getzonerecord?Line=1&domain=example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - WHM root:iscool
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: ! '{"result":[{"status":1,"record":{"Line":1,"raw":"; cPanel 11.25.0-STABLE_44718","ttl":"86400","type":":RAW","name":""},"statusmsg":"Record
        obtained."}]}'
  recorded_at: Wed, 07 Mar 2012 21:53:52 GMT
- request:
    method: get
    uri: https://myhost.com:2087/json-api/getzonerecord?Line=1&domain=notexists.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - WHM root:iscool
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: ! '{"result":[{"status":0,"statusmsg":"Zone does not exist."}]}'
  recorded_at: Wed, 07 Mar 2012 21:53:52 GMT
- request:
    method: get
    uri: https://myhost.com:2087/json-api/getzonerecord?Line=20&domain=example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - WHM root:iscool
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: ! '{"result":[{"status":0,"statusmsg":"No record available on selected
        line."}]}'
  recorded_at: Wed, 07 Mar 2012 21:53:52 GMT
recorded_with: VCR 2.0.0
...
