---
http_interactions:
- request:
    method: get
    uri: https://myhost.com:2087/json-api/listmxs?api.version=1&domain=example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - WHM root:iscool
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: ! '{"data":{"record":[{"Line":"20","ttl":"14400","class":"IN","exchange":"example.com","preference":"0","type":"MX","name":"example.com."}]},"metadata":{"result":1,"reason":"Records
        obtained.","version":1,"command":"listmxs"}}'
  recorded_at: Wed, 07 Mar 2012 21:53:52 GMT
recorded_with: VCR 2.0.0
...
