---
http_interactions:
- request:
    method: get
    uri: https://myhost.com:2087/json-api/resolvedomainname?api.version=1&domain=example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - WHM root:iscool
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: ! '{"data":{"ip":"192.1.2.3"},"metadata":{"result":1,"reason":"OK","version":1,"command":"resolvedomainname"}}'
  recorded_at: Wed, 07 Mar 2012 21:53:52 GMT
- request:
    method: get
    uri: https://myhost.com:2087/json-api/resolvedomainname?api.version=1&domain=notexists.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - WHM root:iscool
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: ! '{"metadata":{"result":0,"reason":"Unable to resolve domain name.","version":1,"command":"resolvedomainname"}}'
  recorded_at: Wed, 07 Mar 2012 21:53:52 GMT
recorded_with: VCR 2.0.0
...
