---
http_interactions:
- request:
    method: get
    uri: https://myhost.com:2087/json-api/savemxs?api.version=1&domain=example.com&exchange=example.com&name=mail.example.com&preference=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - WHM root:iscool
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: ! '{"metadata":{"result":1,"reason":"Bind reloading on myhost using
        rndc zone: [example.com]","version":1,"command":"savemxs"}}'
  recorded_at: Wed, 07 Mar 2012 21:53:52 GMT
recorded_with: VCR 2.0.0
...
